 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #7fc8f8;
    min-height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    padding: 20px;
}

.card {
    max-width: 1000px;
    background: white;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    margin: auto;
}

.left {
    width: 50%;
    padding: 40px;
}

.left h2 {
    color:black;
    margin-bottom: 40px;
}

.field {
    margin-bottom: 25px;
}

.field label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color:black;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.input-group {
    display: flex;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
}

.input-group input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-group select {
    border: none;
    padding: 12px;
    cursor: pointer;
    outline: none;
    background: white;
}

.full-select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

button {
    background: #5aa9e6;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #ff6392;
}

.right {
    width: 50%;
    background: #ffe45e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    color: white;
    display: flex;
    align-items: flex-start;
}

.result span:first-child {
    font-size: 80px;
    font-weight: 500;
}

.result span:last-child {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }
}
